<div class="d-flex justify-content-center align-items-center mt-2">
  <mat-form-field class="w-75">
    <mat-label>Search for your city...</mat-label>
    <input (keydown.enter)="searchCity()" matInput [formControl]="city" />
  </mat-form-field>
  <button (click)="searchCity()" mat-raised-button class="ml-1" color="primary">
    Search
  </button>
</div>

<div *ngIf="weatherByDay" class="text-center">
  <h1>{{ cityName }}</h1>
  <div *ngFor="let weather of weatherByDay; last as last">
    {{ weather.date | date: 'fullDate' }}
    <div class="d-flex flex-wrap mx-2 justify-content-center py-2">
      <div *ngFor="let weatherData of weather.data">
        <div class="text-center m-2 weather-card">
          <h1>{{ weatherData.main.temp | degrees }}</h1>
          <img src="http://openweathermap.org/img/wn/{{ weatherData.weather[0].icon }}@2x.png" />
          <p>{{ weatherData.weather[0].description | titlecase }}</p>
          <p>
            {{ weatherData.dt * 1000 | date: 'shortTime' }}
          </p>
        </div>
      </div>
    </div>
    <mat-divider *ngIf="!last" class="py-2 mx-2"></mat-divider>
  </div>
</div>
